.pop_wrapper {
  position: absolute;
  display: inline; }
  .pop_wrapper .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
    padding: .6em;
    width: 12em;
    background-color: #F594A2;
    color: #fff;}
  .pop_wrapper .pop_toggle {
    background-image: url(../images/arrow-down.gif);
    background-repeat: no-repeat;
    background-position: right center;
    min-width: 20px;
    min-height: 20px;
    overflow: hidden;
    cursor: pointer;}
	.pop_wrapper .pop_toggle span {
		padding-right: 25px;
		display: inline-block;
		padding: 2px 25px 2px 2px;
		white-space: nowrap;
	}

.active .pop_menu {
  display: block;
  position: absolute; }
  .active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/arrow-up.gif);
  display: inline-block;}
.active .pop_menu.pop_left {
  left: -12em; /* set to negative of the width of the menu */
}
.active .pop_menu.pop_under {
  top: 20px; /* set to height of .pop_toggle */
}
